:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #000000;
  color: #ffffff;
}

/* Basic button styles that won't interfere with Bulma */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

