.pagination-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  
  .pagination-link.is-current {
    background-color: #485fc7;
    border-color: #485fc7;
  }
  
  .pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .pagination {
      flex-wrap: wrap;
    }
    
    .pagination-list {
      order: 2;
      margin-top: 1rem;
    }
  }